<!DOCTYPE html
        PUBLIC "-//W3C/DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <style>
        * {
            /*font-family: ;*/
            font-family: "Caveat-VariableFont","RobotoMono-Thin","GrechenFuemen-Regular";
        }
    </style>
</head>

<body>
<h3>Hello World</h3>

že zneuznání lidských práv a pohrdání jimi vedlo k barbarským

<img th:src="@{classpath:coral.reef.jpg}" alt="image"/>
</body>
</html>